@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    background: radial-gradient(circle at 20%, #682131, #340c0c);
    color: #fff;
}
a{
  color: #ededed;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
a:hover{
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
}
div, h1{
  margin:0;
  padding:0;
}
.contents{
  width:1000px;
  max-width:100%;
  margin-left:300px;
  padding:0 40px;
}
aside{
  width:300px;
  height:100%;
  position:fixed;
  border-right:1px solid #af435c;
  padding:80px 30px;
}
.title{
  font-weight:700;
  font-size:1.1em;
  text-align:center;
}
.title-desc{
  line-height:1.2;
  color:#Eedede;
  margin-bottom:70px;
}
.title-text{
  transition:all 300ms ease;
}
.title-icon{
 font-size:1.8em;
 display:flex;
 justify-content: center;
 margin-bottom:10px;
}
.mobile-menu{
  font-size:1.7em;
  cursor:pointer;
}
.mynav{
  list-style-type:none;
  margin:0;
  padding:0;
}
.mynav li{
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px dashed #af435c;
  cursor:pointer;
}
#about,#story,#project,#contact{
  margin-bottom:100px;
  min-height:800px;
  padding-top:80px;
}

#about img{
  position: absolute;
  right: 34%;
  bottom: 21%;
  opacity: 0.7;
}
#about h1,
#story h1,
#project h1,
#contact h1 {
  width: 200px;
  border-bottom:2px dashed rgba(255,255,255,0.7);
  margin-bottom:80px;
}
#about>div>div>p, #story>div>div>p, #project>div>div>p, #contact>div>div>p{
  margin-top:20px;
  margin-bottom:20px;
}
.story{
  padding-left:12px;
}
.history-box{
  max-width:50%;
  background-color:rgba(255,255,255,0.09);
  padding:30px;
  border-radius:15px;
  margin-top:40px;
  margin-bottom:60px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15),
              0 0 15px 0 rgba(0,0,0,0.15);
  position:relative;   
  transition: all 500ms ease-in-out;         
}
.history-box:nth-child(odd){
  margin-left:80px;
}
.history-box::before{
  content:"";
  display:block;
  height:1px;
  width: 52px;
  left:-52px;
  background-color:#af435c;
  position:absolute;
  top:50px;
  transition: all 500ms ease-in-out;  
}
.history-box:nth-child(odd)::before{
  width:133px;
  left:-133px;
}
.history-box:hover{
  margin-left:30px;
  background-color:rgba(255,255,255,0.15);
}
.history-box:hover::before{
  width:80px;
  left:-82px;
}

@media(max-width: 768px) {
  aside{
     width:100%;
     height: 70px;
     top:0;
     left:0;
     display:flex;
     border:none;
     border-bottom:1px solid #af435c;
     padding: 0 30px;
     align-items:center;
     justify-content: space-between;
     position:fixed;
     z-index:1000;
     background:radial-gradient(circle at 20%, #682131, #220303);
  }
  .title-icon{
     margin-bottom:0;
  }
  .mynav{
     display:none;
  }
  .title-text{
     position:absolute;
     top: 35%;
     left: 50%;
     transform: translate(-50%);
     padding:0;
     margin:0;
  }
  .contents{
     margin-left:0px;
     margin-top:70px;
     padding:0 40px;
  }
  #about img{
    position: absolute;
    right: 0;
    bottom: -90px;
    opacity: 0.5;
  }
}